html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Lato', sans-serif;

  background: -webkit-linear-gradient(#00111e 30%, #033d5e);
  background: -moz-linear-gradient(#00111e 30%, #033d5e);
  background: -o-linear-gradient(#00111e 30%, #033d5e);
  background: linear-gradient(#00111e 30%, #033d5e);

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

.head{
  color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#clock{
  margin: 0;
  font-size: 10rem;
  font-weight: 400;
}

#quote{
  margin: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  border-left: 2px solid #ddd;
  text-align: right;
  max-width: 37rem;
  font-weight: 300;
}

#author{
  margin: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
  border-right: 2px solid #ddd;
  text-align: right;
  font-weight: 700;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#canvasTop{
  position: absolute;
  z-index: 100;
}

#canvasBot{
  position:absolute;
  z-index: -100;
}

#canvasSky{
  position:absolute;
  z-index:  -200;
}
